/*GENERICS*/

header{
    background-color: #2C3E50;
}

.jumbotron{
    background-color: #1BBC9C;
}

section.portfolio{
    background-color: rosybrown;
}

section.about{
    background-color: cornflowerblue;
}

.section.contact-me{
    background-color: goldenrod;
}

.row{
    height: 400px;
    width: 100%;
}

.col-{
    height: 100px;
}
/*UTILS*/

.border-row{
    border: 2px dashed rgb(236, 236, 236);
}

.border-col{
    border: 2px dashed red;
}


.user-row{
    height: 70px;
}