/*GENERICS*/

header{
    height: 80px;
    background-color: #2C3E50;
}

.jumbotron{
    height: 200px;
    background-color: #1BBC9C;
}

.border-row{
    border: 2px dashed rgb(236, 236, 236);
}

.border-col{
    border: 2px dashed red;
}

.portfolio{
    height: 500px;
    background-color: rosybrown;
}

/*UTILS*/

.border-row{
    border: 2px dashed rgb(236, 236, 236);
}

.border-col{
    border: 2px dashed red;
}